$primary-color: #007bff;
$primary-color-dark: #0056b3;

$secondary-color: #ff7f50;
$secondary-color-dark: #ff5722;

$background-color-light: #f0f0f0;

$primary-color-light: #abcdef;

$text-color: #333;
$background-color: rgba(238, 237, 237, 0.4156862745);


$body-background-color: linear-gradient(to bottom,  #000, #1db954);